cachetools==5.3.3
comtypes==1.4.2
enum34==1.1.10
keyboard==0.13.5
mouse==0.7.1
overlay-arrows-and-more==0.5.0
pillow==10.3.0
pyperclip==1.8.2
pywin32==306
pywinauto==0.6.8
pywinauto-recorder==0.6.6
rapidfuzz==3.9.3
six==1.16.0
thefuzz==0.22.1
